{% extends "user/user_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="insert_rating_review">
<table width="200" border="1" class="table table-hover table-striped">

    <tr>
      <th>Provider</th>
       <td colspan="2">

         <select name="select">
           {% for i in val %}

           <option value="{{i['lid']}}">{{i['firstname']}} {{i['lastname']}}</option>

           {% endfor %}
         </select>

       </td>
    </tr>

    <tr>
      <th>Rating</th>
       <td colspan="2"> <input type="text" name="textfield"/> </td>
    </tr>

     <tr>
      <th>Review</th>
       <td colspan="2"> <input type="text" name="textfield2"/> </td>
    </tr>

    <tr>

      <td colspan="2"><input type="submit" value="submit"/></td>

    </tr>
  </table>
</form>
</body>
{% endblock %}