{% extends "user/user_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="add_rating">
<table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <th width="51" scope="row">Name</th>
      <td width="79"><label>Rating</label></td>
      <td width="37">Review</td>
      <td width="46">Date
      <label></label></td>
    </tr>

    {% for i in val %}

    <tr>
      <th scope="row">{{i['firstname']}} {{i['lastname']}}</th>
      <td>{{i['rating']}}</td>
      <td>{{i['review']}}</td>
      <td width="46">{{i['date']}}</td>
    </tr>

    {% endfor %}

    <tr>
      <th colspan="4"> <input type="submit" value="Add"/> </th>
    </tr>

  </table>
</form>
</body>
{% endblock %}