{% extends "user/user_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <th colspan="7" scope="row">STATUS OF REQUEST </th>
    </tr>
    <tr>
      <th scope="row">provider name</th>
      <td>Service</td>
      <td>Phone number </td>
      <td>Status</td>
        <td>View More Details</td>
    </tr>

    {% for i in val %}

    <tr>
      <th scope="row">{{i['firstname']}} {{i['lastname']}}</th>
      <td>{{i['service_name']}}</td>
      <td>{{i['phone']}}</td>
      <td>{{i['status']}}</td>
        <td>

            {% if i['status']=="completed" %}

            <a href="pay_now?id={{i['id']}}" class="btn btn-success">pay amount</a>

            {% else %}

            <a href="view_provider_reply?id={{i['id']}}">View</a>

            {% endif %}


        </td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>
{% endblock %}