<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1">
    <tr>
      <th scope="row">Firstname</th>
      <td><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Lastname </th>
      <td><label>
        <input type="text" name="textfield2" />
      </label></td>
    </tr>
    <tr>
      <th scope="row"><p>Email ID </p>      </th>
      <td><label>
        <input type="text" name="textfield3" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Phone No </th>
      <td><label>
        <input type="text" name="textfield4" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Place</th>
      <td><label>
        <input type="text" name="textfield5" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Pincode</th>
      <td><label>
        <input type="text" name="textfield6" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Service  </th>
      <td><label>
        <input type="text" name="textfield7" />
      </label></td>
    </tr>

     <tr>
      <th scope="row">EXPERIENCE</th>
      <td><label>
        <input type="text" name="textfield111" />
      </label></td>
    </tr>

    <tr>
      <th scope="row">Attested Document</th>
      <td><label>      </label>
        <label>
        <input type="file" name="file2" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">NOC Certificate </th>
      <td><label>
        <input type="file" name="file" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Username</th>
      <td><label>
        <input type="text" name="textfield8" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Password</th>
      <td><label>
        <input type="text" name="textfield9" />
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="Register" />
      </label></th>
    </tr>
  </table>
  <label></label>
</form>
</body>
</html>
