{% extends "admin/admin_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table width="200" border="1" class="table table-hover table-striped">
    <tr>
      <th scope="row">FirstName</th>
      <td>SecondName</td>
      <td>Email</td>
      <td>Phone</td>
      <td>Place</td>
      <td>Pincode</td>
      <td>Service</td>
      <td>AttestedDoc </td>
      <td>NOC</td>
      <td></td>
    </tr>

    {% for i in  val %}

    <tr>
      <th>{{i['firstname']}}</th>
      <th>{{i['lastname']}}</th>
      <th>{{i['email']}}</th>
      <th>{{i['phone']}}</th>
      <th>{{i['place']}}</th>
      <th>{{i['pincode']}}</th>
      <th>{{i['service_name']}}</th>
      <th><a href="../static/uploads/{{i['villagedoc']}}">view</a></th>

      <th><a href="../static/uploads/{{i['noc']}}">view</a></th>



      <td><p><a href="accept_provider?id={{i['lid']}}">Accept</a></p>
      <p>&nbsp;</p>
      <p><a href="reject_provider?id={{i['lid']}}">Reject</a></p></td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>
{% endblock %}
