<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="293" border="1">
    <tr>
      <th width="51" scope="row">Name</th>
      <td width="79"><label>Service</label></td>
      <td width="37">location</td>
      <td width="46">Date</td>
      <td width="46">Map </td>
      <td colspan="2">  </td>
      <label></label></td>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td width="46">&nbsp;</td>
      <td width="46"><a href="#">view map</a></td>
           <td width="46"><a href="#">Accept</a></td>
      <td width="46"><a href="#">Reject</a></td>

    </tr>
  </table>
</form>
</body>
</html>
